body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.logo-svg {
  width: 250px;
  overflow: visible;
}

.logo-svg path {
  stroke: #fff;
  fill: orange;
  stroke-dasharray: 185;
}

.stock-details p {
  margin: 0.5rem 0;
}
